body {
    background-color: #FD383E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #48BAA4;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    /* centres logo */
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

table {
    /* centres table */
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 100px;
}

td img {
    width: 350px;
    background-color: #FFC163;
}

.desc {
    background-color: #FF8739;
}

td div {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: larger;
    color: #006350;
}

p span {
    font-style: italic;
}

#plantain {
    width: 140px;
}

footer {
    background-color: #48BAA4;
}

.contacts {
    width: 35px;
    text-align: center;
}

.copyright {
    text-align: center;
}


/* Small Devices */
@media (max-width: 590px) {

    .menu {
        display: flex;
        flex-direction: column;
        background-color: #333; 
    }

    .menu-item {
        padding: 15px;
        color: white;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
    }

    .grid {
        display: block; 
    }
}

/* Medium Devices */
@media (min-width: 591px) and (max-width: 790px) {
    body {
        background-color: #e0e0e0; 
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .grid-item { 
        padding: 20px;
        border: 1px solid;
        text-align: center;
    }
}