body {
    background-color: #FD383E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #48BAA4;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    /* centres logo */ 
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}



nav ul.menu li {
    margin: 5px 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

table {
    /* centres table */
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 100px;
}

td img {
    width: 350px;
    background-color: #FFC163;
}

.desc {
    background-color: #FF8739;
}

td div {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: larger;
    color: #006350;
}

p span {
    font-style: italic;
}

#plantain {
    width: 140px;
}

footer {
    background-color: #48BAA4;
}

.contacts {
    width: 35px;
    text-align: center;
}

.copyright {
    text-align: center;
}


/* Small Devices */
@media (max-width: 590px) {
    .menu {
        display: flex;
        flex-direction: column;
        background-color: #333; 
    }

    nav ul.menu {
        display: flex;
        flex-direction: column; /* Vertical menu for small devices */
    }

    .menu-item {
        padding: 15px;
        color: white;
        text-align: center;
        border-bottom: 1px solid #444;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
    }

    .grid {
        display: block; 
    }
}

/* Medium Devices 590px */
@media (min-width: 590px) {
    nav ul.menu {
        flex-direction: row; /* Horizontal menu for medium devices */
        justify-content: center; 
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Large Devices (790px and above) */
@media (min-width: 790px) {
    .grid-container {
        max-width: 790px; 
        margin: 0 auto;
        grid-template-columns: 1fr; 
    }

    footer {
        background-color: #e0e0e0; /* Different footer background for large devices */
    }
}